.Order {
    width: 85%;
    max-width: 70%;
    padding: 15px;
    background-color: #d6bb22;
    margin: 5px auto;
    border-radius: 5px;
}

.Order ul {
    display: flex;
    flex-wrap: wrap;
}

.Order li {
    list-style: none;
    border-color: black;
    background-color: crimson;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-right: 7px;
    margin-bottom: 4px;
    color: white;
    font-weight: bold;
}

.Order ul:before {
    content: 'Order items:';
    margin-right: 5px;
}