.IngredientController {
    padding: 10px;
    background-color: #e98540;
}

.IngredientController > button {
    color: white;
    font: inherit;
    padding: 15px;
    margin: 0 5px;
    width: 120px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;
    background-color: #e1cf01;
}

.IngredientController > button:hover {
    color: white;
    background-color: rgba(225, 207, 1, 0.76);
}

.IngredientController > button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.IngredientController > button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}